@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #1F2937;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

.Toastify__toast {
  padding: 0;
  overflow: hidden;
  box-shadow: none;
}

.Toastify__close-button {
  display: none;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  label {
    font-size: 14px;
    @apply font-semibold inline-block;
  }

  a {
    font-size: 14px;
    @apply font-semibold cursor-pointer underline p-1;
  }

  input {
    @apply border border-gray-300 bg-gray-50 p-3 rounded-lg block w-full transition-all mt-1;
  }

  input:focus {
    @apply border-blue-600;
  }

  input, button, a {
    outline: 0 solid transparent;
    transition-property: outline-width;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    @apply transition-all;
  }
  
  input:focus, button:focus, a:focus {
    outline: 5px solid #2563EB50;
  }
}

@layer components {
  .form-group {
    @apply mt-5;
  }

  .form-group > p.error {
    font-size: 14px;
    @apply text-red-600 hidden;
  }

  .form-group.invalid > p.error {
    @apply flex justify-end mt-1;
  }

  .form-group.form-group.invalid > input {
    @apply border-red-600;
  }
}